.btnField {
    display: flex;
    justify-content: center;
    border: #61dafb solid 2px;
    border-radius: 10px;
    margin: 10px;
}

.button {
    background-color: #61dafb; /* disabled: #c2fdf4*/
    padding: 20px 40px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 26px;
}